

.shorter-input{
    width: 100%;
    padding: none;
    margin: none;
}

.td-description-manage-exercises{
  width: 35%;
  padding: none;
  margin: none;
}

  
.td-duration-manage-exercises{
  width: 10%;
  padding: none;
  margin: none;
}

.td-date-manage-exercises{
  width: 15%;
  padding: none;
  margin: none;
}

.btn-margin{
  margin: 3px;
}


  