

.shorter-input{
    width: 100%;
    padding: none;
    margin: none;
}

.td-description{
  width: 35%;
  padding: none;
  margin: none;
}

  
.td-duration{
  width: 10%;
  padding: none;
  margin: none;
}

.td-date{
  width: 15%;
  padding: none;
  margin: none;
}

  