.short-table-manage-users{
    width: 30%;
  }
  
  .td-username-manage-users{
    width: 60%;
    padding: none;
    margin: none;
  }
    
  .td-action-manage-users{
    width: 35%;
    padding: none;
    margin: none;
  }

  .btn-size{
      font-size: 13px;
      
  }
  
  