.short-table-manage-users{
    width: 65%;
  }
  
  .td-username-manage-users{
    width: 70%;
    padding: none;
    margin: none;
  }
    
  .td-action-manage-users{
    width: 25%;
    padding: none;
    margin: none;
  }
  
